:root {
    --nav-shad: rgba(0, 0, 0, 0.6);
    --btn-color: #ff2291;
  }
  
  * {
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--nav-shad);
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  label {
    display: none;
    cursor: pointer;
  }
  .im.im-code {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 30px;
    margin-left: 30px;
    cursor: pointer;
  }
  
  .im.im-code:hover {
    color: var(--btn-color);
  }
  
  #checkbox {
    display: none;
  }
  
  .menu {
    list-style: none;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-family: poppins;
  }
  
  nav ul li a:hover {
    border-bottom: solid var(--btn-color);
    padding: 1px 0;
    animation: border-animation 1s infinite ease-in-out;
    animation-direction: alternate-reverse;
  }
  
  @keyframes border-animation {
    0% 100% {
      border-width: 2px;
    }
  }
  
  .header {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    z-index: 2;
  }
  
  .header h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 40px;
    border-radius: 10px;
  }
  
  .header p {
    font-size: 15px;
    font-family: poppins;
    color: white;
    text-align: center;
    width: 45%;
  }
  
  .header button {
    background-color: var(--btn-color);
    border: unset;
    width: 15%;
    height: 30px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .header button:active {
    transform: scale(1.1);
  }
  
  .slider {
    overflow: hidden;
    position: relative;
  }
  .slider figure {
    position: relative;
    height: 100%;
    width: 500%;
    margin: 0;
    left: 0;
    animation: slider 10s infinite ease-in-out;
  }
  
  .slider figure img {
    width: 20%;
    float: left;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  @keyframes slider {
    0% {
      left: 0;
    }
  
    20% {
      left: 0;
    }
  
    25% {
      left: -100%;
    }
  
    45% {
      left: -100%;
    }
  
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
  
    75% {
      left: -300%;
    }
  
    90% {
      left: -300%;
    }
  
    100% {
      left: -400%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .menu {
      display: none;
    }
    #menuicon {
      display: block;
      color: white;
      margin-left: auto;
      margin-right: 30px;
    }
    #menuicon:hover {
      color: var(--btn-color);
    }
  
    #checkbox:checked + .menu {
      height: 60px;
      width: 100%;
      position: absolute;
      margin: auto;
      padding: 0;
      top: 60px;
      display: grid;
      grid-template-columns: repeat(4, auto);
      column-gap: 20px;
      align-items: center;
      justify-content: center;
      background-color: var(--nav-shad);
    }
  
    .menu li {
      margin: 0;
      padding: 0;
    }
  
    .menu li a {
      font-size: 14px;
    }
  
    .header h1 {
      font-size: 35px;
      padding: 6px 12px;
    }
    .header p {
      font-size: 12px;
      text-align: left;
      width: 56%;
    }
    .header button {
      width: 34%;
      margin-top: 10px;
    }
  }
  